<div class="card">
    <div class="card-info">
        <div class="card-img"></div>
        <div class="card-name">Name</div>
        <div class="card-price">$100.00</div>    
    </div>
    <div class="card-amount">
        <div class="card-amount-btn card-amount-btn--minus"></div>
        <input type="text" class="card-amount-input" placeholder="數量">
        <div class="card-amount-btn card-amount-btn--plus"></div>
    </div>
    <div class="card-btnGroup">
        <div class="card-btn card-btn--addToCart">加入購物車</div>
        <div class="card-btn card-btn--buy">立即購買</div>
    </div>
</div>
