<!-- header -->
<div class="header">
    <div class="header-logo"></div>
    <div class="menu">
        <div class="menu-item">首頁</div>
        <div class="menu-item">
            <div class="menu-item-text">商品列表</div>

            <!-- 第二層選單 -->
            <div class="menu-sec">
                <div class="menu-sec-item">A分類</div>
                <div class="menu-sec-item">A分類</div>
                <div class="menu-sec-item">A分類</div>
                <div class="menu-sec-item">分類名稱分類名稱分類名稱分類名稱 過長會換行</div>
            </div>

        </div>
        <div class="menu-item">訂單記錄</div>
        <div class="menu-item">最新消息</div>
        <div class="menu-item">找到我們</div>
    </div>
    <div class="header-member"></div>
</div>

<!-- 卡片列表 -->
<div class="cardWrapper">
    <div class="card" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
        <div class="card-info">
            <div class="card-img"></div>
            <div class="card-name">Name</div>
            <div class="card-price">$100.00</div>    
        </div>
        <div class="card-amount">
            <div class="card-amount-btn card-amount-btn--minus"></div>
            <input type="text" class="card-amount-input" placeholder="數量">
            <div class="card-amount-btn card-amount-btn--plus"></div>
        </div>
        <div class="card-btnGroup">
            <div class="card-btn card-btn--addToCart">加入購物車</div>
            <div class="card-btn card-btn--buy">立即購買</div>
        </div>
    </div>    
</div>

